* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.provinces {
    width: 100%;
    height: 100%;
}

.parties {
    display: flex;
    align-items: center;
    justify-content: center;
}

.parties #parties2023 {
    padding: 20px;
    font-size: 20px;
    margin-top: 3px;
    border: 1px solid #ccc;
}

#turkey-map path {
    stroke: #fff;
    stroke-width: 0.1;
}

#turkey-map path {
    stroke: #000;
    stroke-width: 0.3;
    fill: #fff;
}

#turkey-map path:hover {
    stroke: #000;
    stroke-width: 0.5;
    fill: #eee;
}

.msg {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 20px 0;
}

#btn-save, #btn-clear {
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background: none;
}

#btn-save:hover, #btn-clear:hover {
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #ED1822;
    color: #fff;
    cursor: pointer;
}